<i id="packages-list" class="title-icon fa-solid fa-store"></i>
	<h3 class="small-title glitch" data-text="Packages">Packages</h3>

	<section class="packages">
		<div class="package">
			
			<div class="package-stars">
				<i class="fa-solid fa-star"></i>
			</div>

			<ul>
				<li><span>Price:</span> $25</li>
				<li><span>Runtime:</span> up to 5 minutes</li>
				<li id="os-mg" style="text-decoration:line-through;">Montion Graphics</li>
				<li>Memes</li>
				<li title="Sound effects + Background music">Sfx + Bgm</li>
				<li>Captions</li>
			</ul>

		</div>

		<div class="package">
			
			<div class="package-stars">
				<i class="fa-solid fa-star"></i>
				<i class="fa-solid fa-star"></i>
			</div>

			<ul>
				<li><span>Price:</span> $45</li>
				<li><span>Runtime:</span> up to 10 minutes</li>
				<li>Montion Graphics</li>
				<li>Memes</li>
				<li title="Video effects + Sound effects + Background music">Vfx + Sfx + Bgm</li>
				<li>Captions</li>
			</ul>

		</div>

		<div class="package">
			
			<div class="package-stars">
				<i class="fa-solid fa-star"></i>
				<i class="fa-solid fa-star"></i>
				<i class="fa-solid fa-star"></i>
			</div>

			<ul>
				<li><span>Price:</span> $70</li>
				<li><span>Runtime:</span> up to 20 minutes</li>
				<li>Montion Graphics</li>
				<li>Memes</li>
				<li title="Video effects + Sound effects + Background music">Vfx + Sfx + Bgm</li>
				<li>Captions</li>
			</ul>

		</div>
	</section>